WebClient/App_WebReferences/SalesServiceProxy/SaleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52085/WebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52085/WebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52085/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCalculator" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaleService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="ISaleService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_ListProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProducts" />
  </wsdl:message>
  <wsdl:message name="ISaleService_ListProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_ListInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:ListInvoices" />
  </wsdl:message>
  <wsdl:message name="ISaleService_ListInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_GetInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoice" />
  </wsdl:message>
  <wsdl:message name="ISaleService_GetInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_CreateInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateInvoice" />
  </wsdl:message>
  <wsdl:message name="ISaleService_CreateInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="ISaleService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ISaleService">
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/GetProduct" message="tns:ISaleService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/GetProductResponse" message="tns:ISaleService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/ListProducts" message="tns:ISaleService_ListProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/ListProductsResponse" message="tns:ISaleService_ListProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/ListInvoices" message="tns:ISaleService_ListInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/ListInvoicesResponse" message="tns:ISaleService_ListInvoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/GetInvoice" message="tns:ISaleService_GetInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/GetInvoiceResponse" message="tns:ISaleService_GetInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/CreateInvoice" message="tns:ISaleService_CreateInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/CreateInvoiceResponse" message="tns:ISaleService_CreateInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleService/GetCustomer" message="tns:ISaleService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleService/GetCustomerResponse" message="tns:ISaleService_GetCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISaleService" type="tns:ISaleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/ISaleService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListProducts">
      <soap:operation soapAction="http://tempuri.org/ISaleService/ListProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListInvoices">
      <soap:operation soapAction="http://tempuri.org/ISaleService/ListInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <soap:operation soapAction="http://tempuri.org/ISaleService/GetInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateInvoice">
      <soap:operation soapAction="http://tempuri.org/ISaleService/CreateInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/ISaleService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleService">
    <wsdl:port name="BasicHttpBinding_ISaleService" binding="tns:BasicHttpBinding_ISaleService">
      <soap:address location="http://localhost:52085/WebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>