WebClient/App_WebReferences/SalesServiceProxy/WebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52085/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCalculator" />
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFCalculator" minOccurs="0" name="GetProductResult" nillable="true" type="q1:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFCalculator" minOccurs="0" name="ListProductsResult" nillable="true" type="q2:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInvoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_customerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFCalculator" minOccurs="0" name="ListInvoicesResult" nillable="true" type="q3:ArrayOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_customerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFCalculator" minOccurs="0" name="GetInvoiceResult" nillable="true" type="q4:Invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFCalculator" minOccurs="0" name="_invoice" nillable="true" type="q5:Invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_customerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFCalculator" minOccurs="0" name="GetCustomerResult" nillable="true" type="q6:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>